<configuration>
	<system.web>
		<authentication mode="Forms">
			<forms name="demo_cookie" loginUrl="form1.aspx" defaultUrl="welcome.aspx" timeout="1">
				<credentials passwordFormat="Clear">
					<user name="deepa" password="deepa123"/>
					<user name="priya" password="125"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
</configuration>